body {
  background: #000;
  color: #ddd;
  font-family: "Noto Sans", sans-serif;
  padding: 100px 20px;
  margin: 0;
}

.conversation ul, .conversations {
  list-style: none;
  padding: 0;
  margin: 0;
}

.conversation, .conversations {
  margin: 0 auto;
  max-width: 480px;
  position: relative;
}

.conversation > span {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  text-align:center;
  line-height: 48px;
  vertical-align: middle;
  border-radius: 25px;
  color: #888;
  top: 100px;
  right: calc(50% + 300px);
  font-size: 40px;
  background: #111;
  cursor: pointer;
  transition: background-color 100ms, color 100ms;
}

.conversation > span:hover {
  color: #fff;
  background: #333;
}

.conversation li { margin-top: 12px }
.conversation li:first-child { margin-top: 0 }

.conversation li.plain.other { margin-right: 40px }

.conversation li.plain.me {
  text-align: right;
  margin-left: 40px;
}

.conversation li.plain p {
  background: #fff;
  padding: 10px 15px;
  line-height: 1.5;
  border-radius: 5px;
  display: inline-block;
  margin: 0;
  text-align: left;
}

.conversation li.plain p:not(:last-child) { margin-bottom: 1px }

.conversation .plain.other p {
  background: #fefefe;
  color: #333;
}

.conversation .plain.me p {
  /* background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 100%); */
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-attachment: fixed;
  color: #fefefe;
}


.conversation .other + .other { margin-top: 1px }
.conversation .me + .me       { margin-top: 1px }

.conversation .plain img,
.conversation .plain video {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.conversation .sticker.me { text-align: right }
.conversation .sticker img { width: 64px }

.conversations li {
  cursor: pointer;
  margin-bottom: 8px;
  background-color: rgba(213,117,70,1);
  background-image: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(213,117,70,0) 100%); 
  background-attachment: fixed;
  /*background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-attachment: fixed; */
  padding: 10px 14px;
  border-radius: 4px;
  transition: background-color 100ms;
}

.conversations li:hover {
  /* background: #555; */
  background-color: rgba(213,100,100,1);
}

.conversations li p { margin: 0; }

.conversations .user {
  font-style: italic;
}
.conversations .info { font-weight: 300; }
.conversations .info strong {
  font-size: 20px;
  font-weight: 500;
}


